/*for the services page of the website*/

/**/
* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
}

/*styling the body*/
body {
    background-color: #0D1321;
    font-family: 'Montserrat';
}

/*---------------------------------HEADER & NAVIGATION MENU--------------------------*/

/*the logo image*/
.logo {
    margin: 2.5%;
    padding-left: 30px;
    height: 90px;
    border-radius: 10px 10px;
    box-shadow: 7px 7px 5px;
}

/*the navigation links position*/
nav {
    float: right;
    padding: 5%;
    margin: 0.3%;
}

/*the navigation links styling*/
a {
    padding: 20px;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
}

/*styling the button on navigation menu*/
.btn {
    background: solid;
    box-sizing: border-box;
    border: none;
    border-radius: 15px;
    background-color: #65afff;
    color: #0D1321;
    margin: 10px;
    padding: 10px;
}

/*navigation button hover*/
.btn:hover {
    background-color: #466886;
    color: #f8f0fb;
    margin: 10px;
    padding: 10px;
}

/*hover effect on navigation links on nav bar*/
nav a:hover {
    background-color: #f8f0fb;
    border-radius: 20px;
    color: #0D1321;
    padding: 10px;
    margin: 10px;
}

/*indicates active page*/
.active {
    background-color: #466886;
    border-radius: 20px;
    color: #0D1321;
    padding: 10px;
    margin: 10px;
}

/*---------------------------------------------------SERVICES SECTION---------------------------------------------------*/

.box {
    background-color: #65afff;
    margin-top: 7%;
    border-radius: 10px;
    padding: 5%;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: center;
}

h3 {
    text-align: center;
    font-size: 40px;
    color: #0D1321;
    font-weight: bold;
}

p {
    font-size: 16px;
    justify-content: center;
    text-align: justify;
    padding: 4%;
}

button {
    background-color: #466886;
    color: #ffffff;
    padding: 1%;
    border: none;
    border-radius: 10px;
    margin-left: 35%;
}

/*--------------------------------------------FOOTER SECTION-------------------------------------------------------*/

/*footer background styling*/
footer {
    background-color: #466886;
    margin-top: 7%;
    border-radius: 10px;
}

/*coyright paragraph styling*/
footer p {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    padding: 2%;
    line-height: 150%;
}

/*button for email*/
.footer {
    background-color: #000000;
    padding: 1.2%;
    color: #ffffff;
    border-radius: 30px;
    border: none;
    margin-left: 46%;
}

/*the image links for socials*/
.social-links {
    display: grid;
    grid-template-columns: 10% 10% 10%;
    margin-left: 42%;
    margin-top: 1.5%;
}

/*setting the size for the social icons*/
#icons {
    font-size: 30px;
}

/*styling the links in footer*/
.nav-links {
    text-align: center;
    padding: 2%;
}